<h1>隱私權政策</h1>

<p>生效日期：2024/07/01</p>

<p>感謝您選擇使用有創科技股分有限公司-農遊趣。我們重視您的隱私，並致力於保護您的個人資訊。本隱私權政策說明了我們如何收集、使用、分享和保護您的個人資訊。</p>

<h2>1. 收集的資料</h2>
<p>當您使用我們的產品或服務時，我們可能會收集以下資料：</p>
<ul>
    <li>您提供的註冊資訊，如姓名、電郵地址、電話號碼等。</li>
    <li>使用產品或服務時的日誌資料，如IP地址、瀏覽器資訊、訪問時間等。</li>
    <!-- 加入其他項目 -->
</ul>

<h2>2. 使用資料的目的</h2>
<p>我們使用收集的資料為了：</p>
<ul>
    <li>提供、維護、改進我們的產品和服務。</li>
    <li>回應您的查詢或請求。</li>
    <li>發送與您相關的通知或訊息。</li>
    <!-- 加入其他項目 -->
</ul>

<h2>3. 資料分享</h2>
<p>除非以下情況，否則我們不會與第三方分享您的個人資訊：</p>
<ul>
    <li>得到您的同意。</li>
    <li>根據法律要求或政府命令。</li>
    <li>為保護有創科技股分有限公司-農遊趣的權利、財產或安全。</li>
    <!-- 加入其他項目 -->
</ul>

<h2>4. 保護您的資料</h2>
<p>我們採取一系列的安全措施，以保護您的個人資訊。但請注意，沒有任何傳輸方式可以保證100%的安全，所以當您傳輸資訊給我們時，請自行評估風險。</p>

<h2>5. 政策更新</h2>
<p>我們可能會不時更新本隱私權政策。任何更改將於更新後立即生效。建議您定期查看本政策以了解最新的隱私權保護措施。</p>

<h2>6. 聯絡我們</h2>
<p>如有任何問題或建議，請聯絡我們：</p>
<p>Email: uttec88@gmail.com</p>